<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}交通違反計算ツール{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>交通違反計算ツール</h1>
            <nav>
                {% if user.is_authenticated %}
                    <p>ログイン中: {{ user.username }}</p>
                    <a href="{% url 'logout' %}">ログアウト</a>
                {% else %}
                    <a href="{% url 'login' %}">ログイン</a> | <a href="{% url 'register' %}">登録</a>
                {% endif %}
            </nav>
        </header>
        <main>      
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <script src="{% static 'js/main.js' %}"></script>
            <p>&copy 2023 交通違反計算ツール</p>
        </footer>
    </body>
</html>
