<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}交通違反計算ツール{% endblock title %}</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header>
            <h1>交通違反計算ツール</h1>
            <nav>
                {% if user.is_authenticated %}
                    <p>ログイン中: {{ user.username }}</p>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer;">ログアウト</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">ログイン</a> | <a href="{% url 'register' %}">登録</a>
                {% endif %}
            </nav>
            
        </header>
        <main>      
            {% block content %}
            <!-- ここにコンテンツを追加 -->
            {% endblock content %}
        </main>
        <footer>
            <script src="/static/js/main.js"></script>
            <p>&copy 2023 交通違反計算ツール</p>
        </footer>
    </body>
</html>
